
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>FlashCash Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://kit.fontawesome.com/f8d0d04345.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/css/style.css"/>

    <!--    <script src="../node_modules/chart.js/dist/chart.umd.js"></script>-->
    <script th:src="@{node_modules/chart.js/dist/chart.umd.js}"></script>

</head>
<!--<body class="page-content">-->
<body >

<nav class="navbar navbar-expand-lg navbar-dark  sticky-top">
    <div class="container">
        <a class="navbar-brand fs-1" href="#">FLASH<i class="fa-solid fa-bolt-lightning text-danger"></i>CASH</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link " href="/">Accueil</a></li>
                <li class="nav-item"><a class="nav-link " th:href="@{/transfers}">Transfers</a></li>
                <li class="nav-item"><a class="nav-link " th:href="@{/profile}">Profile</a></li>
                <li class="nav-item"><a class="nav-link " href="#Contact">Contact</a></li>
                <li class="nav-item"><a class="nav-link " href="/logout">Sign out</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <h2 class="text-center">Hello <i class="fa-solid fa-bolt-lightning text-danger"></i>, <span th:text="${user.firstName}"></span></h2>
    <div class="acquisitions"><canvas id="acquisitions"></canvas></div>
    <script th:inline="javascript">

                document.addEventListener("DOMContentLoaded", function () {
            const chart = document.getElementById("acquisitions").getContext("2d");


            let datasetFormated = {};

            let dataset = [[${dataset}]];
            console.log(dataset);
<!--               [ [-->
<!--                "Jan", "friend1", 10, "#123"-->
<!--                ],-->
<!--                [-->
<!--                "Jan", "friend2", 20, "#456"-->
<!--                ],-->
<!--                [-->
<!--                "Jan", "friend3", 30, "#789"-->
<!--                ],-->
<!--                [-->
<!--                "Feb", "friend1", 40, "#123"-->
<!--                ],-->
<!--                [-->
<!--                "Feb", "friend2", 50, "#456"-->
<!--                ],-->
<!--                [-->
<!--                "Feb", "friend3", 60, "#789"-->
<!--                ],-->
<!--                [-->
<!--                "Mar", "friend1", 70, "#123"-->
<!--                ],-->
<!--                [-->
<!--                "Mar", "friend2", 80, "#456"-->
<!--                ],-->
<!--                [-->
<!--                "Mar", "friend3", 90, "#789"-->
<!--                ]]-->


            let labels = [];
            let prevLabel = '';

            dataset.forEach(item =>
            {
                let friend = item[1];
                if(typeof datasetFormated[friend]== "undefined")
                {
                    datasetFormated[friend] = {
                        label: friend,
                        data: [item[3]],
                        background: item[4],
                        stack: 0
                    }
                } else {
                    datasetFormated[friend]['data'].push(item[3]);
                }

                let lbl = item[2];
                if(lbl != prevLabel){
                    labels.push(lbl);
                }
                prevLabel = lbl;
            });

            let data=[];
            for (var key in datasetFormated)
            {
                if(datasetFormated.hasOwnProperty(key))
                {
                    data.push(datasetFormated[key]);
                }
            }


            const config = {
              type: "bar",
              data: {
                    labels : labels,
                    datasets : data
              },
              options: {
                plugins: {
                  title: {
                    display: true,
                    text: "YOU HAVE SEND YOUR MONEY THIS YEAR TO YOUR FRIENDS",
                  },
                },
                responsive: true,
                interaction: {
                  intersect: false,
                },
                scales: {
                  x: {
                    stacked: true,
                  },
                  y: {
                    stacked: true,
                  },
                },
              },
            };

            new Chart(chart, config);
          });
    </script>
    <div class="row mt-4">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4" >
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title" >Show bar chart of your transfers</h5>

                    <a th:href="@{/friendAmountMonth}" class="btn btn-danger">show</a>
                </div>
            </div>
        </div>


        <div class="col-lg-4 col-md-6 col-sm-12 mb-4" >
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">List of your Transfers</h5>
                    <div th:if="${transfers.isEmpty()}">
                        <p>No transfers yet!</p>
                    </div>
                    <div th:if="${not transfers.isEmpty()}">
                        <ul class="list-group">
                            <select class="form-select" name="to">
                                <option value="">Select a transfer</option>
                                <option th:each="transfer : ${transfers}"
                                        th:value="${transfer.id}"
                                        th:text="${transfer.amountAfterFee + ' € → '
                 + (transfer.to != null ? transfer.to.firstName + ' ' + transfer.to.lastName + ' (' + transfer.to.email + ')' : 'Unknown recipient')
                 + ' | ' + (transfer.date != null ? #dates.format(transfer.date, 'dd.MM.yyyy HH:mm') : 'No date')}">
                                </option>
                            </select>
                        </ul>
                    </div>
                    <a th:href="@{/transfer-to-contact}" class="btn btn-danger">See all transfers</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4" >
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title" >MAKE TRANSFER TO YOUR FRIEND</h5><br><br>

                    <a th:href="@{/transfer-to-contact}" class="btn btn-danger">MAKE TRANSFER</a>
                </div>
            </div>
        </div>
    </div>
</div>


</div>

<footer class="footer">
    <div class="container text-center">
        <p>&copy; 2025 FlashCash. All rights reserved.</p>
        <p>
            <a href="#accueil">Accueil</a> |
            <a href="#Transfers">Transfers</a> |
            <a href="#Profile">Profile</a> |
            <a href="#Contact">Contact</a>
        </p>
        <p>Follow us:</p>
        <a href="https://facebook.com" target="_blank" class="social-icon"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com" target="_blank" class="social-icon"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://instagram.com" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a>
    </div>
</footer>

</body>
</html>